.App, .gameover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh
}
.mole, .empty-slot{
  width: 120px;
  height: 100px;
}
.mole-container{
  display: inline-block
}
.wrapper{
  display: flex;
  gap: 100px;
}
p{
  font-size: 2rem;
  color: green;
  font-weight: bold;
}