.App{
  text-align: center;

}
.mole, .empty-slot{
  width: 120px
}
.mole-container{
  display: inline-block
}
.wrapper{
  display: flex;
  gap: 100px;
  border: 1px solid red
}
p{
  font-size: 2rem;
  color: green;
  font-weight: bold;
}